@model CondominioAp.Models.Despesas

@{
    ViewData["Title"] = "Create";
}
<div class="bg-secondary p-3">
<h1>Nova Despesa</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_Despesa" class="control-label"></label>
                <input asp-for="Tipo_Despesa" class="form-control" />
                <span asp-validation-for="Tipo_Despesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vencimento_Fatura" class="control-label"></label>
                <input asp-for="Vencimento_Fatura" class="form-control" />
                <span asp-validation-for="Vencimento_Fatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status_Pagamento" class="control-label"></label>
                <input asp-for="Status_Pagamento" class="form-control" />
                <span asp-validation-for="Status_Pagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadesId_unidade" class="control-label"></label>
                <select asp-for="UnidadesId_unidade" class ="form-control" asp-items="ViewBag.UnidadesId_unidade"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar Depesa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
