@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="display-4 text-center">Sistema de Condomínio</h1>
    <p class="display-4 text-center">ApControler</p>
    <p class="h2 text-danger text-center"> Para Utilizar esse Sistema corretamente e preciso Cadastrar <br>
        Primeiro o Inquilino<br> 
        depois a Unidade e <br>
        as despesas Por ultimo!</p>
    
</div>
