@model CondominioAp.Models.Unidades

@{
    ViewData["Title"] = "Create";
}
<div class="bg-secondary p-3">
<h1>Registrar nova Unidade</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Identificacao" class="control-label"></label>
                <input asp-for="Identificacao" class="form-control" />
                <span asp-validation-for="Identificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propietario" class="control-label"></label>
                <input asp-for="Propietario" class="form-control" />
                <span asp-validation-for="Propietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condominio" class="control-label"></label>
                <input asp-for="Condominio" class="form-control" />
                <span asp-validation-for="Condominio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinosId_Inquilino" class="control-label">E-mail do Inquilino</label>
                <select asp-for="InquilinosId_Inquilino" class ="form-control" asp-items="ViewBag.InquilinosId_Inquilino"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Unidade" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
